<footer class="footer">
    <div class="footer__horizon">
        <img src="/footer-horizon.svg" alt="Horizonte montanhoso com árvores coloridas">
    </div>
    <div class="footer__content jetgrid jetgrid--container jetflex--justify-content-between">
        <a class="footer__logo jetgrid__col--7 jetgrid__col--sm-24 jetgrid jetflex--align-items-start jetflex--sm-justify-content-center" href="/">
            <img src="/logo-white.svg" loading="lazy" alt="Logo Buffet Star Happy" width="180" height="60">
        </a>
        <div class="footer__addresses jetdisplay--flex jetflex--direction-column jetgrid__col--8 jetgrid__col--sm-24">
            <h3 class="footer__title">Nossas Unidades:</h3>
            <div class="footer__address jetdisplay--flex">
                <svg class="footer__address-icon" xmlns="http://www.w3.org/2000/svg" width="19.995" height="23.638" viewBox="0 0 19.995 23.638"><g transform="translate(-39.451)"><g transform="translate(39.451)"><g transform="translate(0)"><path d="M56.518,2.928A10,10,0,0,0,39.451,10c0,5.4,5.108,9.9,7.852,12.309.381.335.711.625.973.87a1.723,1.723,0,0,0,2.345,0c.262-.245.592-.535.973-.87C54.338,19.893,59.446,15.4,59.446,10A9.933,9.933,0,0,0,56.518,2.928ZM50.68,21.268c-.39.343-.726.639-1,.9a.334.334,0,0,1-.455,0c-.277-.259-.614-.555-1-.9C45.638,19,40.836,14.774,40.836,10a8.613,8.613,0,0,1,17.226,0C58.062,14.774,53.26,19,50.68,21.268Z" transform="translate(-39.451)" fill="#fff"/></g></g><g transform="translate(45.043 5.214)"><g transform="translate(0)"><path d="M164.976,112.938a4.406,4.406,0,1,0,4.406,4.406A4.411,4.411,0,0,0,164.976,112.938Zm0,7.427A3.021,3.021,0,1,1,168,117.344,3.025,3.025,0,0,1,164.976,120.365Z" transform="translate(-160.57 -112.938)" fill="#fff"/></g></g></g></svg>
                <div class="footer__address-text jetdisplay--flex jetflex--direction-column">
                    <strong>Unidade Bacacheri</strong>
                    <span>Rua Nicarágua, 1094. Bacacheri. Curitiba/PR, CEP: 82510-170</span>
                </div>
            </div>
            <div class="footer__address jetdisplay--flex">
                <svg class="footer__address-icon" xmlns="http://www.w3.org/2000/svg" width="19.995" height="23.638" viewBox="0 0 19.995 23.638"><g transform="translate(-39.451)"><g transform="translate(39.451)"><g transform="translate(0)"><path d="M56.518,2.928A10,10,0,0,0,39.451,10c0,5.4,5.108,9.9,7.852,12.309.381.335.711.625.973.87a1.723,1.723,0,0,0,2.345,0c.262-.245.592-.535.973-.87C54.338,19.893,59.446,15.4,59.446,10A9.933,9.933,0,0,0,56.518,2.928ZM50.68,21.268c-.39.343-.726.639-1,.9a.334.334,0,0,1-.455,0c-.277-.259-.614-.555-1-.9C45.638,19,40.836,14.774,40.836,10a8.613,8.613,0,0,1,17.226,0C58.062,14.774,53.26,19,50.68,21.268Z" transform="translate(-39.451)" fill="#fff"/></g></g><g transform="translate(45.043 5.214)"><g transform="translate(0)"><path d="M164.976,112.938a4.406,4.406,0,1,0,4.406,4.406A4.411,4.411,0,0,0,164.976,112.938Zm0,7.427A3.021,3.021,0,1,1,168,117.344,3.025,3.025,0,0,1,164.976,120.365Z" transform="translate(-160.57 -112.938)" fill="#fff"/></g></g></g></svg>
                <div class="footer__address-text jetdisplay--flex jetflex--direction-column">
                    <strong>Unidade Portão</strong>
                    <span>Em breve</span>
                </div>
            </div>
            <div class="footer__address jetdisplay--flex">
                <svg class="footer__address-icon" xmlns="http://www.w3.org/2000/svg" width="19.995" height="23.638" viewBox="0 0 19.995 23.638"><g transform="translate(-39.451)"><g transform="translate(39.451)"><g transform="translate(0)"><path d="M56.518,2.928A10,10,0,0,0,39.451,10c0,5.4,5.108,9.9,7.852,12.309.381.335.711.625.973.87a1.723,1.723,0,0,0,2.345,0c.262-.245.592-.535.973-.87C54.338,19.893,59.446,15.4,59.446,10A9.933,9.933,0,0,0,56.518,2.928ZM50.68,21.268c-.39.343-.726.639-1,.9a.334.334,0,0,1-.455,0c-.277-.259-.614-.555-1-.9C45.638,19,40.836,14.774,40.836,10a8.613,8.613,0,0,1,17.226,0C58.062,14.774,53.26,19,50.68,21.268Z" transform="translate(-39.451)" fill="#fff"/></g></g><g transform="translate(45.043 5.214)"><g transform="translate(0)"><path d="M164.976,112.938a4.406,4.406,0,1,0,4.406,4.406A4.411,4.411,0,0,0,164.976,112.938Zm0,7.427A3.021,3.021,0,1,1,168,117.344,3.025,3.025,0,0,1,164.976,120.365Z" transform="translate(-160.57 -112.938)" fill="#fff"/></g></g></g></svg>
                <div class="footer__address-text jetdisplay--flex jetflex--direction-column">
                    <strong>Unidade Colombo</strong>
                    <span>Em breve</span>
                </div>
            </div>
        </div>
        <div class="footer__contacts  jetgrid__col--9 jetgrid__col--sm-24">
            <h3 class="footer__title">Entre em contato</h3>
            <a class="footer__contact jetdisplay--flex jetflex--align-items-center" href="https://api.whatsapp.com/send?l=pt_BR&phone=5541999853696">
                <svg class="footer__contact-icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><path d="M25.607,4.393A14.9,14.9,0,0,0,15,0h0A15,15,0,0,0,1.88,22.275L.032,28.884a.879.879,0,0,0,1.083,1.083l6.61-1.848A15,15,0,0,0,25.607,4.393ZM15,28.242a13.226,13.226,0,0,1-6.711-1.825.879.879,0,0,0-.683-.089L2.146,27.854l1.527-5.46a.879.879,0,0,0-.089-.683A13.243,13.243,0,1,1,15,28.242Z" fill="currentcolor"/><path d="M133.039,126.59a2.858,2.858,0,0,0-4.034,0L128.6,127a.542.542,0,0,1-.761,0l-2.805-2.805a.542.542,0,0,1,0-.76l.408-.408a2.856,2.856,0,0,0,0-4.034l-.815-.815a2.859,2.859,0,0,0-4.034,0l-.608.608a5.765,5.765,0,0,0-1.313,5.388,11.816,11.816,0,0,0,3.317,5.873,11.033,11.033,0,0,0,7.414,3.475h0a5.294,5.294,0,0,0,3.847-1.471l.608-.608a2.856,2.856,0,0,0,0-4.035Zm-.428,3.607L132,130.8a3.581,3.581,0,0,1-2.6.957h0a9.262,9.262,0,0,1-6.171-2.96,10.048,10.048,0,0,1-2.836-4.975,4.081,4.081,0,0,1,.833-3.8l.608-.608a1.1,1.1,0,0,1,1.549,0l.815.815a1.1,1.1,0,0,1,0,1.549l-.408.408a2.3,2.3,0,0,0,0,3.247l2.805,2.8a2.3,2.3,0,0,0,3.247,0l.408-.407a1.1,1.1,0,0,1,1.548,0l.815.815A1.1,1.1,0,0,1,132.611,130.2Z" transform="translate(-111.564 -110.466)" fill="currentcolor"/></svg>
                <strong>41 99835 3696</strong>
            </a>
            <a class="footer__contact jetdisplay--flex jetflex--align-items-center" href="mailto:contato@buffetstarhappy.com.br">
                <svg class="footer__contact-icon" xmlns="http://www.w3.org/2000/svg" width="26" height="20.874" viewBox="0 0 26 20.874"><path d="M43.23,80.557a4.3,4.3,0,0,1-4.3,4.3H24.841a4.3,4.3,0,0,1-4.3-4.3V71.589a4.266,4.266,0,0,1,.593-2.172l6.877,6.877a5.487,5.487,0,0,0,7.746,0l6.877-6.877a4.265,4.265,0,0,1,.593,2.172v8.967Zm-4.3-13.263H24.841a4.281,4.281,0,0,0-2.6.881l6.946,6.949a3.838,3.838,0,0,0,5.406,0l6.946-6.949A4.281,4.281,0,0,0,38.935,67.293Zm0-1.658H24.841a5.961,5.961,0,0,0-5.953,5.953v8.967a5.959,5.959,0,0,0,5.953,5.953H38.935a5.959,5.959,0,0,0,5.953-5.953V71.589A5.961,5.961,0,0,0,38.935,65.636Z" transform="translate(-18.888 -65.636)" fill="#fff" fill-rule="evenodd"/></svg>
                <strong>contato@buffetstarhappy.com.br</strong>
            </a>
            <div class="footer__social jetdisplay--flex jetflex--align-items-center">
                Nos siga:
                <a class="footer__instagram-icon" href="https://www.instagram.com/buffetstarhappy/" rel="noopener" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27.35" height="27.35" viewBox="0 0 27.35 27.35"><path d="M19.658,27.35H7.692A7.712,7.712,0,0,1,0,19.658V7.692A7.712,7.712,0,0,1,7.692,0H19.658A7.712,7.712,0,0,1,27.35,7.692V19.658a7.712,7.712,0,0,1-7.692,7.692ZM7.692,1.709A5.99,5.99,0,0,0,1.709,7.692V19.658a5.99,5.99,0,0,0,5.983,5.983H19.658a5.99,5.99,0,0,0,5.983-5.983V7.692a5.99,5.99,0,0,0-5.983-5.983Z" fill="#fff"/><path d="M5.838-1A6.838,6.838,0,1,1-1,5.838,6.845,6.845,0,0,1,5.838-1Zm0,11.966A5.128,5.128,0,1,0,.709,5.838,5.134,5.134,0,0,0,5.838,10.966Z" transform="translate(7.838 7.838)" fill="#fff"/><path d="M.709-1A1.709,1.709,0,1,1-1,.709,1.711,1.711,0,0,1,.709-1Z" transform="translate(19.803 5.273)" fill="#fff"/></svg>
                </a>
            </div>
        </div>
        <div class="jetgrid__col--24">
            <div class="footer__bottom jetgrid jetflex--align-items-center">
                <div class="footer__copyright">Star Happy Buffet Infantil © 2024. Todos os direitos reservados. - Feito pela <a class="footer__paperplane" href="https://www.paperplane.com.br" rel="noopener" target="_blank">Paper&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="11.233" height="9.474" viewBox="0 0 11.233 9.474"><path d="M61.465,49.971l-10.53-1.915a.351.351,0,0,0-.337.564l1.526,1.908a.351.351,0,0,0,.288.131l4.909-.2a.351.351,0,0,1,.092.692l-4.9,1.116a.351.351,0,0,0-.273.342v4.559a.351.351,0,0,0,.566.277l8.816-6.857a.351.351,0,0,0-.153-.622" transform="translate(-50.52 -48.05)" fill="#fff"></path></svg></a></div>
            </div>
        </div>
    </div>
</footer>